body {
  font-family: Arial, Helvetica, sans-serif;
}
hr {
  opacity: 0.3;
}
.container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: [first] 5% [second] 25% [third] auto [col4-start] 3% [line5] 3% [line6] 3% [seven] 3% [end];
}
.navbar-brand img {
  width: 6rem;
  height: 5rem;
  margin-top: -1.7rem;
  margin-left: 3rem;
}

.search input {
  width: 29vw;
  height: 33px;
  border: 0.5px solid #bbbbbb;
  border-radius: 2px;
  font-size: 18px;
  padding: 8px;
}
.search input:focus {
  outline: 1px solid #bbbbbb;
}

.btn-search {
  position: absolute;
  padding: 10px;
  width: 5rem;
  margin-left: -4.7%;
  color: #6b6b6b;
  border-radius: 2px;
  background: #ececec;
}
.btn {
  width: 35px;
  height: 35px;
  background: purple;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  font-size: 18px;
}
.icons {
  font-size: 18px;
  color: #6b6b6b;
  padding-top: 18%;
}
main {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  background: #f7f7f7;
}
.video-section {
  margin-top: 1.5rem;
  float: left;
  width: 71%;
}
.video-section iframe {
  width: 100%;
  height: 70vh;
}
.main-previews {
  float: right;
  width: 25%;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.main-previews h4 {
  font-weight: 300;
  color: #6b6b6b;
  margin-top: 5px;
  margin-bottom: 8px;
}
.previews {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.previews img {
  width: 50%;
  height: 7rem;
  margin-right: 7px;
}
.previews h5 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 12px;
}
.previews p {
  margin-top: -12px;
  font-weight: 300;
  font-size: 14px;
  color: #6b6b6b;
}
.upnext {
  display: flex;
}
.upnext h5 {
  margin-left: 50%;
  float: right;
  margin-top: 5px;
}
.video-data h3 {
  margin-bottom: -1.2rem;
  font-weight: 300;
}
.video-data p {
  color: #6b6b6b;
}
.video-icons {
  display: flex;
}
.video-icons ul {
  margin-left: 29vw;
  color: #6b6b6b;
  margin-right: 0;
}
.video-icons li {
  list-style: none;
  flex-direction: row;
  width: 5rem;
  font-size: 18px;
}

.description {
  display: inline;
}
.description img {
  width: 3rem;
  border-radius: 50%;
  display: block;
}
.text-desciption {
  grid-template-columns: [first] 20% [sec] 10% [end];
  margin-left: 5%;
  margin-top: -4rem;
}
.text-desciption p {
  font-size: 14px;
  color: #6b6b6b;
  margin-top: -1rem;
  margin-left: 1rem;

}
.subscribe {
  display: flex;
}
.subscribe h5 {
  margin-left: 1rem;
}
.subscribe button {
  color: white;
  background: #cc0000;
  height: 2.6rem;
  width: 7rem;
  font-size: 13px;
  border-radius: 4px;
  margin-left: 78%;
  margin-top: 1.5rem;
}
.describe {
  width: 60%;
  height: 3em;
  line-height: 1.5em;
  color: black !important;
}

.comment-section {
  display: flex;
}

.comment-section h4 {
 font-weight: 300;
}

 .fa-sort-amount-down {
font-size: 18px;
color: #6b6b6b;
margin-left: 10%;
margin-top: 1.5rem;
}
.comment-section h5 {
 margin-left: 8px;
 color: #6b6b6b;
 }

 

 .comments img {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   
 }

 .comments input {
   border: none;
   border-bottom: 0.2px solid grey;
   padding: 7px;
   width: 92%;
   margin-left: 5px;
   background: transparent;

 }

 .comments input:focus {
   outline: none;
 }

 .comments-post {
   display: flex;
   margin-top: 2rem;
 }
 .comments-text {
   margin-left: 1%;
   /* display: flex; */
 }

 .comments-text small {
   margin-left: 5px;
   font-weight: 300;
   color: gray;
 }
 .comments-text h4 {
  font-weight: 300;
  
}
.comments-text p {
  margin-top: -1rem;
  font-weight: 200;
  width: 60%;
}

.comments-post ul {
  list-style: none;
  display: flex;
  margin-left: -2.2rem;
}
.comments-post li {
  padding-right: 1rem;
  font-size: 15px;
  color: #6b6b6b;
  
}

.fa-caret-down {
  font-size: 16px;
  color: #4386de;
  margin-top: 0;
}



 
