body {
  font-family: Arial, Helvetica, sans-serif;
}
hr {
  opacity: 0.3;
}
/* ---------------- Navigation bar ------------------ */
.container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: [first] 5% [second] 25% [third] auto [fourth] 15% [end];
}
.navbar-brand img {
  width: 6rem;
  height: 5rem;
  margin-top: -1.7rem;
  margin-left: 3rem;
}

.nav-icons {
  display: flex;
}
.nav-icons img {
  width: 1.3rem;
  padding: 0.8rem;
  opacity: 0.6;
}

.search input {
  width: 29vw;
  height: 33px;
  border: 0.5px solid #bbbbbb;
  border-radius: 2px;
  font-size: 18px;
  padding: 8px;
}
.search input:focus {
  outline: 1px solid #bbbbbb;
}

.btn-search {
  position: absolute;
  width: 5rem;
  margin-left: -4.7%;
  color: #6b6b6b;
  border-radius: 2px;
  background: #ececec;
  height: 2.1rem;
}
.btn-search img {
  width: 0.6rem;
}
.btn {
  width: 35px;
  height: 35px;
  background: purple;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 5px;
}
.icons {
  font-size: 18px;
  color: #6b6b6b;
  padding-top: 18%;
}
/* ---------------- Main Page body------------------ */
main {
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  background: #f7f7f7;
}
/* ---------------- Embedded video ------------------ */
.video-section {
  margin-top: 1.5rem;
  float: left;
  width: 71%;
}
.video-section iframe {
  width: 100%;
  height: 70vh;
}
/* ---------------- Thumbnails section ------------------ */
.main-previews {
  float: right;
  width: 25%;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.main-previews h4 {
  font-weight: 300;
  color: #6b6b6b;
  margin-top: 5px;
  margin-bottom: 8px;
}
.previews {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.previews img {
  width: 50%;
  height: 7rem;
  margin-right: 7px;
}
.previews h5 {
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 12px;
}
.previews p {
  margin-top: -12px;
  font-weight: 300;
  font-size: 14px;
  color: #6b6b6b;
}
.upnext {
  display: flex;
}
.upnext h5 {
  margin-left: 50%;
  float: right;
  margin-top: 5px;
}
/* ---------------- Video Details ------------------ */
.video-data h3 {
  margin-bottom: -1.2rem;
  font-weight: 300;
}
.video-data p {
  color: #6b6b6b;
}

.video-icons ul {
  margin-left: 40vw;
  color: #6b6b6b;
  margin-right: 0;
  margin-top: -2rem;
  display: flex;
  width: 75%;
}
.video-icons li {
  list-style: none;
  flex-direction: row;
  width: 5rem;
  font-size: 18px;
}
.video-icons img {
  width: 1.3rem;
  margin-bottom: -5px;
  opacity: 0.6;
}

.video-icons a {
  color: #6b6b6b;
  text-decoration: none;
}
/* ---------------- Video decription------------------ */
.description {
  display: inline;
}
.description img {
  width: 3rem;
  border-radius: 50%;
  display: block;
}
.text-desciption {
  grid-template-columns: [first] 20% [sec] 10% [end];
  margin-left: 5%;
  margin-top: -4rem;
}
.text-desciption p {
  font-size: 14px;
  color: #6b6b6b;
  margin-top: -1rem;
  margin-left: 1rem;
}
.subscribe {
  display: flex;
}
.subscribe h5 {
  margin-left: 1rem;
}
.subscribe a {
  margin-left: 78%;
  margin-top: 1.5rem;
  cursor: pointer;
}
.subscribe button {
  color: white;
  background: #cc0000;
  height: 2.6rem;
  width: 7rem;
  font-size: 13px;
  border-radius: 4px;
  cursor: pointer;
}
.describe {
  width: 60%;
  height: 3em;
  line-height: 1.5em;
  color: black !important;
}
/* ---------------- Comments section ------------------ */
.comment-section {
  display: flex;
}
.new-comment {
  padding-bottom: 4rem;
}

.comment-section h4 {
  font-weight: 300;
}
.comment-section img {
  width: 1.3rem;
  margin-bottom: -5px;
  opacity: 0.6;
  margin-left: 2rem;
  margin-top: 1.5rem;
}

.comment-section h5 {
  margin-left: 8px;
  color: #6b6b6b;
}

.comments img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.comments input {
  border: none;
  border-bottom: 0.2px solid grey;
  padding: 7px;
  width: 92%;
  margin-left: 5px;
  background: transparent;
  transition: 0.25s;
}

.comments input:focus {
  border-bottom: 2px solid black;
}

.comments input:focus {
  outline: none;
}

.comments-post {
  display: flex;
  margin-top: 2rem;
}
.comments-text {
  margin-left: 1%;
  width: 60%;
  margin-bottom: 1.8rem;
}
.comments-text img {
  width: 1.3rem;
  opacity: 0.6;
  margin-bottom: -1rem;
}
.comments-text h4 {
  margin-top: 1.2rem;
}

.comments-text small {
  margin-left: 5px;
  font-weight: 300;
  color: gray;
}
.comments-text h4 {
  font-weight: 300;
}
.comments-text h5 {
  margin-top: -2rem;
}
.comments-text p {
  margin-top: -1rem;
  font-weight: 200;
}

.comments-post ul {
  list-style: none;
  display: flex;
  margin-left: -2.2rem;
}
.comments-post li {
  padding-right: 1rem;
  font-size: 15px;
  color: #6b6b6b;
}

/* ---------------- Footer ------------------ */
.footer-group {
  display: flex;
  margin-left: 4rem;
}
.footer-group img {
  width: 7rem;
  margin-left: -2rem;
  margin-bottom: -1.5rem;
}

footer ul {
  display: flex;
  margin-bottom: -2rem;
}
.footer-list img {
  width: 1.2rem;
  margin-left: 1px;
  margin-bottom: 0 !important;
  opacity: 0.6;
}

footer li {
  list-style: none;
  padding: 1rem;
}
footer button {
  width: 100%;
  height: 2rem;
  background: #f0f0f0;
  font-size: 13px;
}
.footer-about li {
  font-size: 14px;
}
.footer-small li {
  font-size: 12px;
  color: #6b6b6b;
}
footer p {
  margin-top: 8px;
}

.menu {
  width: 1rem;
}
